#div1 {
    color: purple;
    border: 2px solid blue;
    text-align: center;
}

#div2 {
    color: green;
    border: 2px solid yellow;
    text-align: center;
}

#div3 {
    position: relative;
    float: left;
    border: 2px solid red;
    text-align: center;
    width: 20%;
}

#div4 {
    float: right;
    color: aquamarine;
    border: 2px dashed blue;
    text-align: center;
    width: 75%;
}

#div5 {
    position: relative;
    float: left;
    border: 2px solid rebeccapurple;
    text-align: center;
    width: 20%;
    clear: both;
}

#div6 {
    float: right;
    color: purple;
    border: 2px dashed goldenrod;
    text-align: center;
    width: 75%;
}

#div7 {
    position: relative;
    float: left;
    border: 2px solid silver;
    text-align: center;
    width: 20%;
    clear: both;
}